@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/*******HOMEPAGE CSS*********/
.homePage {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F6F6;
    height: 100%;
    width: 100%;
}
.homeHeader {
    display: flex;
    padding-bottom: 10px;
}
.OurFavourites {
    display: flex;
    color: #F6F6F6;
}
.ourFavHeader {
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 37.8px;

}
.ourFavSlice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #FF66C4;
}
.sliderHeader {
    display: flex;
}
